<a href="https://colab.research.google.com/github/drbilal216/NED_AI_Competition_2021/blob/main/NED_AI_Competition_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NED AI Competition 2021

Bilal Muhammad Khan

drbilal216@gmail.com


### download csv file from link
url = 'https://drive.google.com/file/d/1dNa74t9Yu7lzTqCm1R6jeL04A0-mxvz0/view?usp=sharing'

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
p = "/content/drive/MyDrive/ML and AI/NED-AI-Competition-2021/data.csv" # File location can vary
df = pd.read_csv(p)
display(df.head(3))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(len(df))
print(len(df.columns))
print()

df = df.fillna(0)
df = df.dropna(axis='rows')

print(len(df))
print(len(df.columns))
print()
display(df.head(3))

466285
75

466285
75

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [5]:
df["loan_status"].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [6]:
default = ["Default","Charged Off","Late (31-120 days","Late (16-30 days)","Late (31-120 days)","Does not meet the credit policy. Status:Charged Off"]
un_default = ["Current", "Fully Paid" ,"In Grace Period","Does not meet the credit policy. Status:Fully Paid"]

In [7]:
df["loan_status"] = df["loan_status"].replace(default, '0')
df["loan_status"] = df["loan_status"].replace(un_default, '1')

In [8]:
df["loan_status"].value_counts()  # Labels # but still imbalance

1    414099
0     52186
Name: loan_status, dtype: int64

In [9]:
columns = df.columns
for i in columns:
  print("Column : ",i)
  display(df[i].value_counts())
  print("#######################")

Column :  Unnamed: 0

0         1
310839    1
310865    1
310864    1
310863    1
         ..
155424    1
155423    1
155422    1
155421    1
466284    1
Name: Unnamed: 0, Length: 466285, dtype: int64

#######################
Column :  id

1077501     1
26180404    1
26219322    1
26239577    1
26290537    1
           ..
3714715     1
3703738     1
3731030     1
3705772     1
9199665     1
Name: id, Length: 466285, dtype: int64

#######################
Column :  member_id

1296599     1
28653081    1
28692177    1
28702376    1
28763241    1
           ..
4686866     1
4847180     1
4724047     1
4678105     1
11061576    1
Name: member_id, Length: 466285, dtype: int64

#######################
Column :  loan_amnt

10000    33023
12000    25519
15000    23486
20000    22759
35000    16596
         ...
34250        1
33400        1
32150        1
34325        1
33175        1
Name: loan_amnt, Length: 1352, dtype: int64

#######################
Column :  funded_amnt

10000    32930
12000    25426
15000    23370
20000    22571
35000    16458
         ...
34075        1
31475        1
33400        1
34825        1
34775        1
Name: funded_amnt, Length: 1354, dtype: int64

#######################
Column :  funded_amnt_inv

10000.000000    28683
12000.000000    21732
15000.000000    19473
20000.000000    18070
8000.000000     13232
                ...
13274.512610        1
9418.065777         1
6493.646238         1
3184.702704         1
23750.235520        1
Name: funded_amnt_inv, Length: 9854, dtype: int64

#######################
Column :  term

 36 months    337953
 60 months    128332
Name: term, dtype: int64

#######################
Column :  int_rate

12.99    15846
10.99    14837
15.61    13074
8.90     11424
16.29    10587
         ...
24.40        1
16.83        1
17.78        1
24.59        1
18.72        1
Name: int_rate, Length: 506, dtype: int64

#######################
Column :  installment

327.34    1246
336.90    1191
332.10     978
491.01     881
392.81     855
          ...
73.19        1
121.53       1
776.65       1
311.25       1
217.65       1
Name: installment, Length: 55622, dtype: int64

#######################
Column :  grade

B    136929
C    125293
D     76888
A     74867
E     35757
F     13229
G      3322
Name: grade, dtype: int64

#######################
Column :  sub_grade

B3    31686
B4    30505
C1    26953
C2    26740
B2    26610
C3    25317
B5    25252
C4    24105
B1    22876
C5    22178
A5    21757
D1    19261
A4    19045
D2    17046
D3    14916
D4    14099
A3    12568
D5    11566
A2    10956
A1    10541
E1     9033
E2     8669
E3     6976
E4     5992
E5     5087
F1     3940
F2     3001
F3     2708
F4     2067
F5     1513
G1     1109
G2      823
G3      583
G4      422
G5      385
Name: sub_grade, dtype: int64

#######################
Column :  emp_title

0                                    27588
Teacher                               5399
Manager                               4438
Registered Nurse                      2316
RN                                    2204
                                     ...
SEA Group, llc                           1
The Eastern Arizona AHEC                 1
Delaware Quarries.com                    1
McCauley trucking and warehousing        1
Server Engineer Lead                     1
Name: emp_title, Length: 205476, dtype: int64

#######################
Column :  emp_length

10+ years    150049
2 years       41373
3 years       36596
< 1 year      36265
5 years       30774
1 year        29622
4 years       28023
7 years       26180
6 years       26112
8 years       22395
0             21008
9 years       17888
Name: emp_length, dtype: int64

#######################
Column :  home_ownership

MORTGAGE    235875
RENT        188473
OWN          41704
OTHER          182
NONE            50
ANY              1
Name: home_ownership, dtype: int64

#######################
Column :  annual_inc

60000.0     17980
50000.0     15949
65000.0     13211
40000.0     12864
70000.0     12436
            ...
93548.0         1
80840.0         1
257100.0        1
91660.0         1
72787.0         1
Name: annual_inc, Length: 31902, dtype: int64

#######################
Column :  verification_status

Verified           168055
Source Verified    149993
Not Verified       148237
Name: verification_status, dtype: int64

#######################
Column :  issue_d

Oct-14    38782
Jul-14    29306
Nov-14    25054
May-14    19099
Apr-14    19071
          ...
Aug-07       74
Jul-07       63
Sep-08       57
Sep-07       53
Jun-07       24
Name: issue_d, Length: 91, dtype: int64

#######################
Column :  loan_status

1    414099
0     52186
Name: loan_status, dtype: int64

#######################
Column :  pymnt_plan

n    466276
y         9
Name: pymnt_plan, dtype: int64

#######################
Column :  url

https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26180404    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26219322    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26239577    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=26290537    1
                                                                        ..
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3714715     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3703738     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3731030     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=3705772     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=9199665     1
Name: url, Length: 466285, dtype: int64

#######################
Column :  desc

0                                                                                                                                                                                                                                                340302
                                                                                                                                                                                                                                                    234
Debt Consolidation                                                                                                                                                                                                                                   13
  Borrower added on 03/17/14 > Debt consolidation<br>                                                                                                                                                                                                11
  Borrower added on 03/10/14 > Debt consolidation<br>                                                                                                                                                                                                10
                                                                                                                                                                                                                                                  ...
  Borrower added on 09/24/13 > Credit debt<br>                                                                                                                                                                                                        1
  Borrower added on 09/24/13 > wish to consolidate loans<br>                                                                                                                                                                                          1
  Borrower added on 09/24/13 > To payoff credit card debt<br>                                                                                                                                                                                         1
  Borrower added on 09/24/13 > To consolidate my debt by paying of my mortgage which is 278 a month my car payment which is 278 a month and 2 credit cards  which total 1800. By doing this I would free up an extra 200 dollars a month.<br>         1
  Borrower added on 12/04/13 > I will like a loan to fix  our cars and paid our house property tax<br>                                                                                                                                                1
Name: desc, Length: 124437, dtype: int64

#######################
Column :  purpose

debt_consolidation    274195
credit_card           104157
home_improvement       26537
other                  23690
major_purchase          9828
small_business          7013
car                     5397
medical                 4602
moving                  2994
vacation                2487
wedding                 2343
house                   2269
educational              422
renewable_energy         351
Name: purpose, dtype: int64

#######################
Column :  title

Debt consolidation                   164075
Credit card refinancing               62275
Debt Consolidation                    15760
Home improvement                      14849
Other                                 12713
                                      ...
Credit Card Clearance                     1
credit repayment                          1
medical bills/credit card payoff          1
One Time Only Relief!                     1
Paying off the car and some bills         1
Name: title, Length: 63100, dtype: int64

#######################
Column :  zip_code

945xx    5304
112xx    5102
750xx    5013
606xx    4696
100xx    4391
         ...
204xx       1
502xx       1
514xx       1
049xx       1
901xx       1
Name: zip_code, Length: 888, dtype: int64

#######################
Column :  addr_state

CA    71450
NY    40242
TX    36439
FL    31637
IL    18612
NJ    18061
PA    16424
OH    15237
GA    14975
VA    14222
NC    12682
MI    11549
MA    11072
MD    10974
AZ    10712
WA    10517
CO     9739
MN     8158
MO     7508
CT     7204
IN     6525
NV     6519
TN     5984
OR     5949
WI     5911
AL     5853
SC     5583
LA     5489
KY     4438
KS     4190
OK     4117
AR     3488
UT     3428
NM     2588
HI     2487
WV     2412
NH     2232
RI     2050
DC     1426
MT     1396
DE     1272
AK     1251
MS     1226
WY     1128
SD      980
VT      905
IA       14
NE       14
ID       12
ME        4
Name: addr_state, dtype: int64

#######################
Column :  dti

14.40    410
19.20    381
12.00    369
16.80    368
18.00    365
        ...
37.51      2
39.94      1
38.95      1
35.54      1
39.14      1
Name: dti, Length: 3997, dtype: int64

#######################
Column :  delinq_2yrs

0.0     382983
1.0      56224
2.0      16310
3.0       5684
4.0       2378
5.0       1236
6.0        629
7.0        346
8.0        177
9.0        111
10.0        65
11.0        41
12.0        38
13.0        25
14.0         8
15.0         7
18.0         6
16.0         5
17.0         3
19.0         3
21.0         2
22.0         2
29.0         1
24.0         1
Name: delinq_2yrs, dtype: int64

#######################
Column :  earliest_cr_line

Oct-00    3674
Aug-00    3597
Aug-01    3455
Oct-99    3406
Oct-01    3329
          ...
Jul-55       1
Feb-57       1
Oct-54       1
May-53       1
Nov-56       1
Name: earliest_cr_line, Length: 665, dtype: int64

#######################
Column :  inq_last_6mths

0.0     241527
1.0     130148
2.0      57825
3.0      25126
4.0       7241
5.0       2768
6.0       1188
7.0        195
8.0        122
9.0         50
10.0        24
11.0        15
12.0        15
15.0         9
13.0         6
14.0         6
18.0         4
16.0         3
17.0         2
24.0         2
19.0         2
32.0         1
33.0         1
31.0         1
28.0         1
25.0         1
27.0         1
20.0         1
Name: inq_last_6mths, dtype: int64

#######################
Column :  mths_since_last_delinq

0.0      251574
9.0        4358
8.0        4272
13.0       4260
12.0       4193
          ...
156.0         1
118.0         1
149.0         1
119.0         1
121.0         1
Name: mths_since_last_delinq, Length: 145, dtype: int64

#######################
Column :  mths_since_last_record

0.0      404925
109.0      1098
108.0       999
106.0       968
104.0       953
          ...
1.0          28
2.0          24
120.0         2
121.0         2
129.0         1
Name: mths_since_last_record, Length: 123, dtype: int64

#######################
Column :  open_acc

9.0     44019
10.0    42512
8.0     41893
11.0    39112
7.0     37602
        ...
55.0        2
62.0        1
84.0        1
75.0        1
61.0        1
Name: open_acc, Length: 62, dtype: int64

#######################
Column :  pub_rec

0.0     404922
1.0      53051
2.0       5624
3.0       1611
4.0        520
5.0        276
6.0        136
7.0         62
8.0         29
9.0         16
10.0        13
11.0         8
12.0         2
18.0         2
13.0         2
40.0         1
34.0         1
21.0         1
63.0         1
54.0         1
14.0         1
15.0         1
16.0         1
19.0         1
49.0         1
17.0         1
Name: pub_rec, dtype: int64

#######################
Column :  revol_bal

0         2269
6052        40
8696        39
5896        39
4532        39
          ...
51021        1
38032        1
45601        1
40823        1
119663       1
Name: revol_bal, Length: 58142, dtype: int64

#######################
Column :  revol_util

0.00      2624
58.00      864
53.00      850
59.00      845
61.00      832
          ...
8.49         1
88.48        1
7.43         1
11.63        1
141.80       1
Name: revol_util, Length: 1269, dtype: int64

#######################
Column :  total_acc

21.0     17087
20.0     17073
22.0     17028
23.0     16719
19.0     16709
         ...
106.0        1
156.0        1
101.0        1
96.0         1
118.0        1
Name: total_acc, Length: 113, dtype: int64

#######################
Column :  initial_list_status

f    303005
w    163280
Name: initial_list_status, dtype: int64

#######################
Column :  out_prncp

0.00        229999
5684.61         80
6563.61         79
5617.88         78
6110.65         76
             ...
788.62           1
2656.39          1
602.44           1
18067.18         1
3984.38          1
Name: out_prncp, Length: 135665, dtype: int64

#######################
Column :  out_prncp_inv

0.00        229999
6563.61         78
5684.61         77
5617.88         76
6110.65         75
             ...
1273.13          1
16869.63         1
9541.53          1
1273.53          1
3974.41          1
Name: out_prncp_inv, Length: 141189, dtype: int64

#######################
Column :  total_pymnt

6743.730000     117
0.000000         87
5564.780000      78
5497.460000      75
5419.430000      75
               ...
6307.496889       1
4271.330000       1
10706.700000      1
21385.730000      1
8821.620000       1
Name: total_pymnt, Length: 351609, dtype: int64

#######################
Column :  total_pymnt_inv

0.00        365
6743.73     113
5564.78      77
5419.43      73
5497.46      72
           ...
7158.22       1
9651.34       1
4140.95       1
24206.64      1
8799.57       1
Name: total_pymnt_inv, Length: 347659, dtype: int64

#######################
Column :  total_rec_prncp

10000.00    13267
12000.00    10469
15000.00     8552
20000.00     7673
8000.00      6522
            ...
16731.08        1
3987.47         1
6927.01         1
11253.08        1
6015.62         1
Name: total_rec_prncp, Length: 172713, dtype: int64

#######################
Column :  total_rec_int

0.00       379
1249.39     78
1329.13     75
1037.31     74
1350.99     72
          ...
5322.44      1
7909.43      1
9697.29      1
3723.50      1
6072.29      1
Name: total_rec_int, Length: 270249, dtype: int64

#######################
Column :  total_rec_late_fee

0.000000     455607
15.000000      2223
30.000000       285
45.000000        50
16.840000        15
              ...
15.026894         1
23.190501         1
14.959976         1
37.751380         1
41.150000         1
Name: total_rec_late_fee, Length: 5808, dtype: int64

#######################
Column :  recoveries

0.00       441914
14.28           9
11.70           9
200.00          9
10.00           9
            ...
423.23          1
2311.77         1
850.18          1
5052.98         1
1159.40         1
Name: recoveries, Length: 22773, dtype: int64

#######################
Column :  collection_recovery_fee

0.0000      443079
2.0000          18
1.8000          13
1.8800          12
1.2000          12
             ...
330.4404         1
149.1210         1
2.9795           1
8.8326           1
11.5940          1
Name: collection_recovery_fee, Length: 20275, dtype: int64

#######################
Column :  last_pymnt_d

Jan-16    179620
Dec-15     62000
Jul-15     11703
Oct-15     11248
Sep-15     10204
           ...
Jun-08        20
Mar-08        18
Jan-08        11
Feb-08         8
Dec-07         2
Name: last_pymnt_d, Length: 99, dtype: int64

#######################
Column :  last_pymnt_amnt

327.34      860
336.90      828
332.10      625
491.01      579
392.81      567
           ...
2535.08       1
6432.03       1
6705.61       1
14086.04      1
1500.68       1
Name: last_pymnt_amnt, Length: 198194, dtype: int64

#######################
Column :  next_pymnt_d

0         227214
Feb-16    208393
Jan-16     27922
Mar-11       107
Apr-11       101
           ...
Jul-14         2
Feb-08         2
May-08         1
Dec-07         1
Mar-15         1
Name: next_pymnt_d, Length: 101, dtype: int64

#######################
Column :  last_credit_pull_d

Jan-16    327699
Dec-15     13992
Nov-15      8384
Sep-15      8051
Oct-15      7957
           ...
Nov-07         3
Jul-08         1
May-08         1
Jun-08         1
Jul-07         1
Name: last_credit_pull_d, Length: 104, dtype: int64

#######################
Column :  collections_12_mths_ex_med

0.0     462371
1.0       3665
2.0        219
3.0         19
4.0          7
6.0          1
16.0         1
20.0         1
5.0          1
Name: collections_12_mths_ex_med, dtype: int64

#######################
Column :  mths_since_last_major_derog

0.0      367390
45.0       1672
46.0       1670
42.0       1656
48.0       1637
          ...
180.0         1
188.0         1
150.0         1
159.0         1
145.0         1
Name: mths_since_last_major_derog, Length: 162, dtype: int64

#######################
Column :  policy_code

1    466285
Name: policy_code, dtype: int64

#######################
Column :  application_type

INDIVIDUAL    466285
Name: application_type, dtype: int64

#######################
Column :  annual_inc_joint

0.0    466285
Name: annual_inc_joint, dtype: int64

#######################
Column :  dti_joint

0.0    466285
Name: dti_joint, dtype: int64

#######################
Column :  verification_status_joint

0.0    466285
Name: verification_status_joint, dtype: int64

#######################
Column :  acc_now_delinq

0.0    464553
1.0      1623
2.0        92
3.0        11
4.0         4
5.0         2
Name: acc_now_delinq, dtype: int64

#######################
Column :  tot_coll_amt

0.0        416535
50.0          837
100.0         650
75.0          515
60.0          309
            ...
13779.0         1
15036.0         1
15986.0         1
2477.0          1
6532.0          1
Name: tot_coll_amt, Length: 6321, dtype: int64

#######################
Column :  tot_cur_bal

0.0         70354
23254.0        15
14186.0        15
28674.0        14
30491.0        14
            ...
179524.0        1
217367.0        1
111276.0        1
260290.0        1
57477.0         1
Name: tot_cur_bal, Length: 220690, dtype: int64

#######################
Column :  open_acc_6m

0.0    466285
Name: open_acc_6m, dtype: int64

#######################
Column :  open_il_6m

0.0    466285
Name: open_il_6m, dtype: int64

#######################
Column :  open_il_12m

0.0    466285
Name: open_il_12m, dtype: int64

#######################
Column :  open_il_24m

0.0    466285
Name: open_il_24m, dtype: int64

#######################
Column :  mths_since_rcnt_il

0.0    466285
Name: mths_since_rcnt_il, dtype: int64

#######################
Column :  total_bal_il

0.0    466285
Name: total_bal_il, dtype: int64

#######################
Column :  il_util

0.0    466285
Name: il_util, dtype: int64

#######################
Column :  open_rv_12m

0.0    466285
Name: open_rv_12m, dtype: int64

#######################
Column :  open_rv_24m

0.0    466285
Name: open_rv_24m, dtype: int64

#######################
Column :  max_bal_bc

0.0    466285
Name: max_bal_bc, dtype: int64

#######################
Column :  all_util

0.0    466285
Name: all_util, dtype: int64

#######################
Column :  total_rev_hi_lim

0.0         70431
15000.0      1392
13500.0      1324
10000.0      1316
12000.0      1301
            ...
29117.0         1
31243.0         1
84434.0         1
89535.0         1
479500.0        1
Name: total_rev_hi_lim, Length: 14612, dtype: int64

#######################
Column :  inq_fi

0.0    466285
Name: inq_fi, dtype: int64

#######################
Column :  total_cu_tl

0.0    466285
Name: total_cu_tl, dtype: int64

#######################
Column :  inq_last_12m

0.0    466285
Name: inq_last_12m, dtype: int64

#######################

In [10]:
dropping = ["Unnamed: 0","id","member_id","issue_d","url","desc","all_util","max_bal_bc","open_rv_24m","open_rv_12m","il_util","total_bal_il","mths_since_rcnt_il","open_il_24m","open_il_12m","open_il_6m","open_acc_6m","verification_status_joint","dti_joint","annual_inc_joint","application_type","policy_code"]

In [11]:
# need to be fix
"""emp_title
term
emp_length
home_ownership
verification_status
pymnt_plan
purpose
title
zip_code
addr_state
initial_list_status
earliest_cr_line
total_pymnt"""

'emp_title\nterm\nemp_length\nhome_ownership\nverification_status\npymnt_plan\npurpose\ntitle\nzip_code\naddr_state\ninitial_list_status\nearliest_cr_line\ntotal_pymnt'

In [12]:
df = df.drop(dropping, 1)
display(df.head(3))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,5000,5000,4975.0,36 months,10.65,162.87,B,B2,0,10+ years,...,Jan-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,...,Sep-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2400,2400,2400.0,36 months,15.96,84.33,C,C5,0,10+ years,...,Jan-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
fix_columns = ["emp_title","term","emp_length","home_ownership","verification_status","pymnt_plan","purpose","title","zip_code","addr_state","initial_list_status","earliest_cr_line","total_pymnt"]

In [14]:
for i in fix_columns:
  print("Column : ",i)
  display(df[i].value_counts())
  print("#######################")

Column :  emp_title

0                                    27588
Teacher                               5399
Manager                               4438
Registered Nurse                      2316
RN                                    2204
                                     ...
SEA Group, llc                           1
The Eastern Arizona AHEC                 1
Delaware Quarries.com                    1
McCauley trucking and warehousing        1
Server Engineer Lead                     1
Name: emp_title, Length: 205476, dtype: int64

#######################
Column :  term

 36 months    337953
 60 months    128332
Name: term, dtype: int64

#######################
Column :  emp_length

10+ years    150049
2 years       41373
3 years       36596
< 1 year      36265
5 years       30774
1 year        29622
4 years       28023
7 years       26180
6 years       26112
8 years       22395
0             21008
9 years       17888
Name: emp_length, dtype: int64

#######################
Column :  home_ownership

MORTGAGE    235875
RENT        188473
OWN          41704
OTHER          182
NONE            50
ANY              1
Name: home_ownership, dtype: int64

#######################
Column :  verification_status

Verified           168055
Source Verified    149993
Not Verified       148237
Name: verification_status, dtype: int64

#######################
Column :  pymnt_plan

n    466276
y         9
Name: pymnt_plan, dtype: int64

#######################
Column :  purpose

debt_consolidation    274195
credit_card           104157
home_improvement       26537
other                  23690
major_purchase          9828
small_business          7013
car                     5397
medical                 4602
moving                  2994
vacation                2487
wedding                 2343
house                   2269
educational              422
renewable_energy         351
Name: purpose, dtype: int64

#######################
Column :  title

Debt consolidation                   164075
Credit card refinancing               62275
Debt Consolidation                    15760
Home improvement                      14849
Other                                 12713
                                      ...
Credit Card Clearance                     1
credit repayment                          1
medical bills/credit card payoff          1
One Time Only Relief!                     1
Paying off the car and some bills         1
Name: title, Length: 63100, dtype: int64

#######################
Column :  zip_code

945xx    5304
112xx    5102
750xx    5013
606xx    4696
100xx    4391
         ...
204xx       1
502xx       1
514xx       1
049xx       1
901xx       1
Name: zip_code, Length: 888, dtype: int64

#######################
Column :  addr_state

CA    71450
NY    40242
TX    36439
FL    31637
IL    18612
NJ    18061
PA    16424
OH    15237
GA    14975
VA    14222
NC    12682
MI    11549
MA    11072
MD    10974
AZ    10712
WA    10517
CO     9739
MN     8158
MO     7508
CT     7204
IN     6525
NV     6519
TN     5984
OR     5949
WI     5911
AL     5853
SC     5583
LA     5489
KY     4438
KS     4190
OK     4117
AR     3488
UT     3428
NM     2588
HI     2487
WV     2412
NH     2232
RI     2050
DC     1426
MT     1396
DE     1272
AK     1251
MS     1226
WY     1128
SD      980
VT      905
IA       14
NE       14
ID       12
ME        4
Name: addr_state, dtype: int64

#######################
Column :  initial_list_status

f    303005
w    163280
Name: initial_list_status, dtype: int64

#######################
Column :  earliest_cr_line

Oct-00    3674
Aug-00    3597
Aug-01    3455
Oct-99    3406
Oct-01    3329
          ...
Jul-55       1
Feb-57       1
Oct-54       1
May-53       1
Nov-56       1
Name: earliest_cr_line, Length: 665, dtype: int64

#######################
Column :  total_pymnt

6743.730000     117
0.000000         87
5564.780000      78
5497.460000      75
5419.430000      75
               ...
6307.496889       1
4271.330000       1
10706.700000      1
21385.730000      1
8821.620000       1
Name: total_pymnt, Length: 351609, dtype: int64

#######################

In [15]:
# data consisted of string and int
df["emp_title"] = df["emp_title"].replace(0, 'E')

In [16]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
labels = le.fit_transform(df["emp_title"])
df["emp_title"] = labels
print(df["emp_title"].value_counts())

50966     27588
155553     5399
94532      4438
128183     2316
125478     2204
          ...
132498        1
158132        1
43946         1
97597         1
141074        1
Name: emp_title, Length: 205476, dtype: int64

In [17]:
df["term"] = df["term"].replace(" 36 months", 36)
df["term"] = df["term"].replace(" 60 months", 60)
print(df["term"].value_counts())

36    337953
60    128332
Name: term, dtype: int64

In [18]:
df["emp_length"].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', 0],
      dtype=object)

In [19]:
df["emp_length"] = df["emp_length"].replace("10+ years", 10)
df["emp_length"] = df["emp_length"].replace("< 1 year", 0.9)
df["emp_length"] = df["emp_length"].replace("1 year", 1)
df["emp_length"] = df["emp_length"].replace("3 years", 3)
df["emp_length"] = df["emp_length"].replace("8 years", 8)
df["emp_length"] = df["emp_length"].replace("9 years", 9)
df["emp_length"] = df["emp_length"].replace("4 years", 4)
df["emp_length"] = df["emp_length"].replace("5 years", 5)
df["emp_length"] = df["emp_length"].replace("6 years", 6)
df["emp_length"] = df["emp_length"].replace("2 years", 2)
df["emp_length"] = df["emp_length"].replace("7 years", 7)
print(df["emp_length"].value_counts())

10.0    150049
2.0      41373
3.0      36596
0.9      36265
5.0      30774
1.0      29622
4.0      28023
7.0      26180
6.0      26112
8.0      22395
0.0      21008
9.0      17888
Name: emp_length, dtype: int64

In [20]:
#print(df["home_ownership"].value_counts())

#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()
labels = le.fit_transform(df["home_ownership"])
df["home_ownership"] = labels
print(df["home_ownership"].value_counts())

1    235875
5    188473
4     41704
3       182
2        50
0         1
Name: home_ownership, dtype: int64

In [21]:
#print(df["verification_status"].value_counts())

#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()
labels = le.fit_transform(df["verification_status"])
df["verification_status"] = labels
print(df["verification_status"].value_counts())

2    168055
1    149993
0    148237
Name: verification_status, dtype: int64

In [22]:
print(df["pymnt_plan"].unique())
df["pymnt_plan"] = df["pymnt_plan"].replace("n", 0)
df["pymnt_plan"] = df["pymnt_plan"].replace("y", 1)
print(df["pymnt_plan"].unique())

['n' 'y']
[0 1]

In [23]:
#print(df["purpose"].value_counts())

#from sklearn import preprocessing
#le = preprocessing.LabelEncoder()
labels = le.fit_transform(df["purpose"])
df["purpose"] = labels
print(df["purpose"].value_counts())

2     274195
1     104157
4      26537
9      23690
6       9828
11      7013
0       5397
7       4602
8       2994
12      2487
13      2343
5       2269
3        422
10       351
Name: purpose, dtype: int64

In [24]:
print(df["title"].value_counts())

Debt consolidation                   164075
Credit card refinancing               62275
Debt Consolidation                    15760
Home improvement                      14849
Other                                 12713
                                      ...
Credit Card Clearance                     1
credit repayment                          1
medical bills/credit card payoff          1
One Time Only Relief!                     1
Paying off the car and some bills         1
Name: title, Length: 63100, dtype: int64

In [25]:
#for i in df["title"]:
#  if type(i) == int:
#    print(i)

In [26]:
# data consisted of string and int
df["title"] = df["title"].replace(0, 'a')

labels = le.fit_transform(df["title"])
df["title"] = labels
#print(df["title"].value_counts())

In [27]:
# removing xx
print(df['zip_code'][1])
df['zip_code'] = df['zip_code'].str.replace(r'xx', '')
print(df['zip_code'][1])

309xx
309

In [28]:
labels = le.fit_transform(df["addr_state"])
df["addr_state"] = labels
#print(df["addr_state"].value_counts())

In [29]:
print(df["initial_list_status"].value_counts())
df["initial_list_status"] = df["initial_list_status"].replace("f", 0)
df["initial_list_status"] = df["initial_list_status"].replace("w", 1)
print(df["initial_list_status"].value_counts())

f    303005
w    163280
Name: initial_list_status, dtype: int64
0    303005
1    163280
Name: initial_list_status, dtype: int64

In [30]:
#print(df["earliest_cr_line"].unique())
df['earliest_cr_line'] = df['earliest_cr_line'].map(lambda x: str(x)[:3])
df["earliest_cr_line"] = df["earliest_cr_line"].replace(0, 'E')
print(df["earliest_cr_line"].unique())

['Jan' 'Apr' 'Nov' 'Feb' 'Jul' 'Sep' 'Oct' 'May' 'Aug' 'Jun' 'Dec' 'Mar'
 '0']

In [31]:
print(df["total_pymnt"][1])
df["total_pymnt"] = round(df["total_pymnt"], 1)
print(df["total_pymnt"][1])

1008.71
1008.7

In [32]:
print(df["funded_amnt_inv"][1])
df["funded_amnt_inv"] = round(df["funded_amnt_inv"], 1)
print(df["funded_amnt_inv"][1])

2500.0
2500.0

In [33]:
labels = le.fit_transform(df["grade"])
df["grade"] = labels
print(df["grade"].value_counts())

1    136929
2    125293
3     76888
0     74867
4     35757
5     13229
6      3322
Name: grade, dtype: int64

In [34]:
labels = le.fit_transform(df["sub_grade"])
df["sub_grade"] = labels
#print(df["sub_grade"].value_counts())

In [35]:
labels = le.fit_transform(df["earliest_cr_line"])
df["earliest_cr_line"] = labels
print(df["earliest_cr_line"].value_counts())

11    45592
12    44184
2     43486
10    42115
3     40063
6     37266
8     36975
5     36657
9     35877
7     35768
1     34212
4     34061
0        29
Name: earliest_cr_line, dtype: int64

In [36]:
df['last_pymnt_d'] = df['last_pymnt_d'].map(lambda x: str(x)[:3])
df["last_pymnt_d"] = df["last_pymnt_d"].replace(0, 'E')
print(df["last_pymnt_d"].unique())

['Jan' 'Apr' 'Jun' 'Nov' 'Sep' 'Jul' 'Oct' 'May' 'Feb' 'Aug' '0' 'Dec'
 'Mar']

In [37]:
labels = le.fit_transform(df["last_pymnt_d"])
df["last_pymnt_d"] = labels
print(df["last_pymnt_d"].value_counts())

5     194421
3      74567
11     23938
6      22182
12     20956
2      20667
10     20239
7      19221
8      18540
9      18076
1      17907
4      15195
0        376
Name: last_pymnt_d, dtype: int64

In [38]:
df['next_pymnt_d'] = df['next_pymnt_d'].map(lambda x: str(x)[:3])
df["next_pymnt_d"] = df["next_pymnt_d"].replace(0, 'E')
print(df["next_pymnt_d"].unique())
print()
labels = le.fit_transform(df["next_pymnt_d"])
df["next_pymnt_d"] = labels
print(df["next_pymnt_d"].value_counts())

['0' 'Feb' 'Jan' 'Sep' 'May' 'Jun' 'Mar' 'Apr' 'Aug' 'Nov' 'Oct' 'Jul'
 'Dec']

0     227214
4     208602
5      28134
3        286
8        284
11       251
1        248
9        234
10       228
2        217
12       205
7        198
6        184
Name: next_pymnt_d, dtype: int64

In [39]:
df['last_credit_pull_d'] = df['last_credit_pull_d'].map(lambda x: str(x)[:3])
df["last_credit_pull_d"] = df["last_credit_pull_d"].replace(0, 'E')
print(df["last_credit_pull_d"].unique())
print()
labels = le.fit_transform(df["last_credit_pull_d"])
df["last_credit_pull_d"] = labels
print(df["last_credit_pull_d"].value_counts())

['Jan' 'Sep' 'Dec' 'Aug' 'Mar' 'Nov' 'Apr' 'May' 'Jul' 'Oct' 'Jun' 'Feb'
 '0']

5     335246
3      20172
10     13950
11     13465
12     12940
6      11877
2      11382
7       9987
8       9557
1       9374
9       9344
4       8949
0         42
Name: last_credit_pull_d, dtype: int64

In [40]:
dropp = ["inq_fi","total_cu_tl","inq_last_12m"]
df = df.drop(dropp, 1)
#display(df.head(3))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [41]:
############# preprocessing done ############

In [42]:
# lets check
columns = df.columns
for i in columns:
  print("Column : ",i)
  display(df[i].value_counts())
  print("#######################")

Column :  loan_amnt

10000    33023
12000    25519
15000    23486
20000    22759
35000    16596
         ...
34250        1
33400        1
32150        1
34325        1
33175        1
Name: loan_amnt, Length: 1352, dtype: int64

#######################
Column :  funded_amnt

10000    32930
12000    25426
15000    23370
20000    22571
35000    16458
         ...
34075        1
31475        1
33400        1
34825        1
34775        1
Name: funded_amnt, Length: 1354, dtype: int64

#######################
Column :  funded_amnt_inv

10000.0    28684
12000.0    21732
15000.0    19475
20000.0    18070
8000.0     13233
           ...
9451.7         1
12362.3        1
5958.5         1
27730.2        1
10444.4        1
Name: funded_amnt_inv, Length: 9031, dtype: int64

#######################
Column :  term

36    337953
60    128332
Name: term, dtype: int64

#######################
Column :  int_rate

12.99    15846
10.99    14837
15.61    13074
8.90     11424
16.29    10587
         ...
24.40        1
16.83        1
17.78        1
24.59        1
18.72        1
Name: int_rate, Length: 506, dtype: int64

#######################
Column :  installment

327.34    1246
336.90    1191
332.10     978
491.01     881
392.81     855
          ...
73.19        1
121.53       1
776.65       1
311.25       1
217.65       1
Name: installment, Length: 55622, dtype: int64

#######################
Column :  grade

1    136929
2    125293
3     76888
0     74867
4     35757
5     13229
6      3322
Name: grade, dtype: int64

#######################
Column :  sub_grade

7     31686
8     30505
10    26953
11    26740
6     26610
12    25317
9     25252
13    24105
5     22876
14    22178
4     21757
15    19261
3     19045
16    17046
17    14916
18    14099
2     12568
19    11566
1     10956
0     10541
20     9033
21     8669
22     6976
23     5992
24     5087
25     3940
26     3001
27     2708
28     2067
29     1513
30     1109
31      823
32      583
33      422
34      385
Name: sub_grade, dtype: int64

#######################
Column :  emp_title

50966     27588
155553     5399
94532      4438
128183     2316
125478     2204
          ...
132498        1
158132        1
43946         1
97597         1
141074        1
Name: emp_title, Length: 205476, dtype: int64

#######################
Column :  emp_length

10.0    150049
2.0      41373
3.0      36596
0.9      36265
5.0      30774
1.0      29622
4.0      28023
7.0      26180
6.0      26112
8.0      22395
0.0      21008
9.0      17888
Name: emp_length, dtype: int64

#######################
Column :  home_ownership

1    235875
5    188473
4     41704
3       182
2        50
0         1
Name: home_ownership, dtype: int64

#######################
Column :  annual_inc

60000.0     17980
50000.0     15949
65000.0     13211
40000.0     12864
70000.0     12436
            ...
93548.0         1
80840.0         1
257100.0        1
91660.0         1
72787.0         1
Name: annual_inc, Length: 31902, dtype: int64

#######################
Column :  verification_status

2    168055
1    149993
0    148237
Name: verification_status, dtype: int64

#######################
Column :  loan_status

1    414099
0     52186
Name: loan_status, dtype: int64

#######################
Column :  pymnt_plan

0    466276
1         9
Name: pymnt_plan, dtype: int64

#######################
Column :  purpose

2     274195
1     104157
4      26537
9      23690
6       9828
11      7013
0       5397
7       4602
8       2994
12      2487
13      2343
5       2269
3        422
10       351
Name: purpose, dtype: int64

#######################
Column :  title

16589    164075
13085     62275
14821     15760
25634     14849
35775     12713
          ...
11355         1
52519         1
57657         1
35474         1
38682         1
Name: title, Length: 63100, dtype: int64

#######################
Column :  zip_code

945    5304
112    5102
750    5013
606    4696
100    4391
       ...
204       1
502       1
514       1
049       1
901       1
Name: zip_code, Length: 888, dtype: int64

#######################
Column :  addr_state

4     71450
33    40242
42    36439
9     31637
14    18612
30    18061
37    16424
34    15237
10    14975
44    14222
27    12682
22    11549
19    11072
20    10974
3     10712
46    10517
5      9739
23     8158
24     7508
6      7204
15     6525
32     6519
41     5984
36     5949
47     5911
1      5853
39     5583
18     5489
17     4438
16     4190
35     4117
2      3488
43     3428
31     2588
11     2487
48     2412
29     2232
38     2050
7      1426
26     1396
8      1272
0      1251
25     1226
49     1128
40      980
45      905
12       14
28       14
13       12
21        4
Name: addr_state, dtype: int64

#######################
Column :  dti

14.40    410
19.20    381
12.00    369
16.80    368
18.00    365
        ...
37.51      2
39.94      1
38.95      1
35.54      1
39.14      1
Name: dti, Length: 3997, dtype: int64

#######################
Column :  delinq_2yrs

0.0     382983
1.0      56224
2.0      16310
3.0       5684
4.0       2378
5.0       1236
6.0        629
7.0        346
8.0        177
9.0        111
10.0        65
11.0        41
12.0        38
13.0        25
14.0         8
15.0         7
18.0         6
16.0         5
17.0         3
19.0         3
21.0         2
22.0         2
29.0         1
24.0         1
Name: delinq_2yrs, dtype: int64

#######################
Column :  earliest_cr_line

11    45592
12    44184
2     43486
10    42115
3     40063
6     37266
8     36975
5     36657
9     35877
7     35768
1     34212
4     34061
0        29
Name: earliest_cr_line, dtype: int64

#######################
Column :  inq_last_6mths

0.0     241527
1.0     130148
2.0      57825
3.0      25126
4.0       7241
5.0       2768
6.0       1188
7.0        195
8.0        122
9.0         50
10.0        24
11.0        15
12.0        15
15.0         9
13.0         6
14.0         6
18.0         4
16.0         3
17.0         2
24.0         2
19.0         2
32.0         1
33.0         1
31.0         1
28.0         1
25.0         1
27.0         1
20.0         1
Name: inq_last_6mths, dtype: int64

#######################
Column :  mths_since_last_delinq

0.0      251574
9.0        4358
8.0        4272
13.0       4260
12.0       4193
          ...
156.0         1
118.0         1
149.0         1
119.0         1
121.0         1
Name: mths_since_last_delinq, Length: 145, dtype: int64

#######################
Column :  mths_since_last_record

0.0      404925
109.0      1098
108.0       999
106.0       968
104.0       953
          ...
1.0          28
2.0          24
120.0         2
121.0         2
129.0         1
Name: mths_since_last_record, Length: 123, dtype: int64

#######################
Column :  open_acc

9.0     44019
10.0    42512
8.0     41893
11.0    39112
7.0     37602
        ...
55.0        2
62.0        1
84.0        1
75.0        1
61.0        1
Name: open_acc, Length: 62, dtype: int64

#######################
Column :  pub_rec

0.0     404922
1.0      53051
2.0       5624
3.0       1611
4.0        520
5.0        276
6.0        136
7.0         62
8.0         29
9.0         16
10.0        13
11.0         8
12.0         2
18.0         2
13.0         2
40.0         1
34.0         1
21.0         1
63.0         1
54.0         1
14.0         1
15.0         1
16.0         1
19.0         1
49.0         1
17.0         1
Name: pub_rec, dtype: int64

#######################
Column :  revol_bal

0         2269
6052        40
8696        39
5896        39
4532        39
          ...
51021        1
38032        1
45601        1
40823        1
119663       1
Name: revol_bal, Length: 58142, dtype: int64

#######################
Column :  revol_util

0.00      2624
58.00      864
53.00      850
59.00      845
61.00      832
          ...
8.49         1
88.48        1
7.43         1
11.63        1
141.80       1
Name: revol_util, Length: 1269, dtype: int64

#######################
Column :  total_acc

21.0     17087
20.0     17073
22.0     17028
23.0     16719
19.0     16709
         ...
106.0        1
156.0        1
101.0        1
96.0         1
118.0        1
Name: total_acc, Length: 113, dtype: int64

#######################
Column :  initial_list_status

0    303005
1    163280
Name: initial_list_status, dtype: int64

#######################
Column :  out_prncp

0.00        229999
5684.61         80
6563.61         79
5617.88         78
6110.65         76
             ...
788.62           1
2656.39          1
602.44           1
18067.18         1
3984.38          1
Name: out_prncp, Length: 135665, dtype: int64

#######################
Column :  out_prncp_inv

0.00        229999
6563.61         78
5684.61         77
5617.88         76
6110.65         75
             ...
1273.13          1
16869.63         1
9541.53          1
1273.53          1
3974.41          1
Name: out_prncp_inv, Length: 141189, dtype: int64

#######################
Column :  total_pymnt

6743.7     121
5564.8      94
5174.1      93
0.0         87
6020.8      86
          ...
30440.0      1
25718.8      1
16961.0      1
28159.5      1
8946.1       1
Name: total_pymnt, Length: 198509, dtype: int64

#######################
Column :  total_pymnt_inv

0.00        365
6743.73     113
5564.78      77
5419.43      73
5497.46      72
           ...
7158.22       1
9651.34       1
4140.95       1
24206.64      1
8799.57       1
Name: total_pymnt_inv, Length: 347659, dtype: int64

#######################
Column :  total_rec_prncp

10000.00    13267
12000.00    10469
15000.00     8552
20000.00     7673
8000.00      6522
            ...
16731.08        1
3987.47         1
6927.01         1
11253.08        1
6015.62         1
Name: total_rec_prncp, Length: 172713, dtype: int64

#######################
Column :  total_rec_int

0.00       379
1249.39     78
1329.13     75
1037.31     74
1350.99     72
          ...
5322.44      1
7909.43      1
9697.29      1
3723.50      1
6072.29      1
Name: total_rec_int, Length: 270249, dtype: int64

#######################
Column :  total_rec_late_fee

0.000000     455607
15.000000      2223
30.000000       285
45.000000        50
16.840000        15
              ...
15.026894         1
23.190501         1
14.959976         1
37.751380         1
41.150000         1
Name: total_rec_late_fee, Length: 5808, dtype: int64

#######################
Column :  recoveries

0.00       441914
14.28           9
11.70           9
200.00          9
10.00           9
            ...
423.23          1
2311.77         1
850.18          1
5052.98         1
1159.40         1
Name: recoveries, Length: 22773, dtype: int64

#######################
Column :  collection_recovery_fee

0.0000      443079
2.0000          18
1.8000          13
1.8800          12
1.2000          12
             ...
330.4404         1
149.1210         1
2.9795           1
8.8326           1
11.5940          1
Name: collection_recovery_fee, Length: 20275, dtype: int64

#######################
Column :  last_pymnt_d

5     194421
3      74567
11     23938
6      22182
12     20956
2      20667
10     20239
7      19221
8      18540
9      18076
1      17907
4      15195
0        376
Name: last_pymnt_d, dtype: int64

#######################
Column :  last_pymnt_amnt

327.34      860
336.90      828
332.10      625
491.01      579
392.81      567
           ...
2535.08       1
6432.03       1
6705.61       1
14086.04      1
1500.68       1
Name: last_pymnt_amnt, Length: 198194, dtype: int64

#######################
Column :  next_pymnt_d

0     227214
4     208602
5      28134
3        286
8        284
11       251
1        248
9        234
10       228
2        217
12       205
7        198
6        184
Name: next_pymnt_d, dtype: int64

#######################
Column :  last_credit_pull_d

5     335246
3      20172
10     13950
11     13465
12     12940
6      11877
2      11382
7       9987
8       9557
1       9374
9       9344
4       8949
0         42
Name: last_credit_pull_d, dtype: int64

#######################
Column :  collections_12_mths_ex_med

0.0     462371
1.0       3665
2.0        219
3.0         19
4.0          7
6.0          1
16.0         1
20.0         1
5.0          1
Name: collections_12_mths_ex_med, dtype: int64

#######################
Column :  mths_since_last_major_derog

0.0      367390
45.0       1672
46.0       1670
42.0       1656
48.0       1637
          ...
180.0         1
188.0         1
150.0         1
159.0         1
145.0         1
Name: mths_since_last_major_derog, Length: 162, dtype: int64

#######################
Column :  acc_now_delinq

0.0    464553
1.0      1623
2.0        92
3.0        11
4.0         4
5.0         2
Name: acc_now_delinq, dtype: int64

#######################
Column :  tot_coll_amt

0.0        416535
50.0          837
100.0         650
75.0          515
60.0          309
            ...
13779.0         1
15036.0         1
15986.0         1
2477.0          1
6532.0          1
Name: tot_coll_amt, Length: 6321, dtype: int64

#######################
Column :  tot_cur_bal

0.0         70354
23254.0        15
14186.0        15
28674.0        14
30491.0        14
            ...
179524.0        1
217367.0        1
111276.0        1
260290.0        1
57477.0         1
Name: tot_cur_bal, Length: 220690, dtype: int64

#######################
Column :  total_rev_hi_lim

0.0         70431
15000.0      1392
13500.0      1324
10000.0      1316
12000.0      1301
            ...
29117.0         1
31243.0         1
84434.0         1
89535.0         1
479500.0        1
Name: total_rev_hi_lim, Length: 14612, dtype: int64

#######################

In [43]:
# Labels 
# maybe i haven't selected right labels
# or maybe data is given in this way
df["loan_status"].value_counts()

1    414099
0     52186
Name: loan_status, dtype: int64

In [44]:
print(len(df.loc[df['loan_status'].isin(['1'])]))
print(len(df.loc[df['loan_status'].isin(['0'])]))

df1 = df.loc[df['loan_status'].isin(['1'])][:52186] # taking labels equally
df2 = df.loc[df['loan_status'].isin(['0'])][:52186]
df3 = pd.concat([df1,df2], axis=0)                   # merging
df3 = df3.sample(frac=1)                              # randomizing data

print(df3["loan_status"].value_counts())

414099
52186
0    52186
1    52186
Name: loan_status, dtype: int64

In [45]:
# also converted in array
import numpy as np
labels = df3["loan_status"].values.astype(np.float32)#.reshape(1,2)
features = df3.drop("loan_status", 1).values.astype(np.float32)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [46]:
#import tensorflow as tf
#labels = tf.one_hot(labels, depth=2)

In [47]:
print(labels.shape)
print(features.shape)

(104372,)
(104372, 49)

In [48]:
# split in training 70%, test 30% test 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.3)#, random_state=1)

In [49]:
Ny_test = y_test

In [50]:
import tensorflow as tf
y_train = tf.one_hot(y_train, depth=2)
y_test = tf.one_hot(y_test, depth=2)

Deep Learning

In [51]:
# Functional API
from tensorflow.keras import layers, Model, Input, optimizers

Shape = x_train.shape[1:]
print(Shape)

input_tensor = Input(shape=Shape)
x = layers.Dense(1024, activation="relu")(input_tensor)
#y = layers.Dropout(0.001)(x)
z = layers.Dense(512, activation="relu")(x)#(y)
output_tensor = layers.Dense(2, activation='softmax')(z)

model = Model(input_tensor,output_tensor)

(49,)

In [52]:
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl
#loss = #'binary_crossentropy,"categorical_crossentropy",'sparse_categorical_crossentropy'

opt = optimizers.Adam(lr=0.01)
model.compile(optimizer=opt,
              loss="binary_crossentropy", 
              metrics=["accuracy"])

model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 49)]              0

 dense (Dense)               (None, 1024)              51200

 dense_1 (Dense)             (None, 512)               524800

 dense_2 (Dense)             (None, 2)                 1026

=================================================================
Total params: 577,026
Trainable params: 577,026
Non-trainable params: 0
_________________________________________________________________

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [53]:
###########################

In [54]:
print(x_train.shape)
print(y_train.shape)
print(type(x_train))
print(type(y_train))

(73060, 49)
(73060, 2)
<class 'numpy.ndarray'>
<class 'tensorflow.python.framework.ops.EagerTensor'>

In [55]:
history = model.fit(x_train, y_train, epochs=2, batch_size=256,validation_split=0.1)

Epoch 1/2
257/257 [==============================] - 2s 4ms/step - loss: 849.6528 - accuracy: 0.6220 - val_loss: 0.6073 - val_accuracy: 0.6563
Epoch 2/2
257/257 [==============================] - 1s 4ms/step - loss: 0.8261 - accuracy: 0.5925 - val_loss: 0.6178 - val_accuracy: 0.6170

In [56]:
# evaluation
evaluation = model.evaluate(x_test,  y_test, verbose=2)
print()
print("Test loss :",evaluation[0]*100,"%")
print("Test accuracy :",evaluation[1]*100,"%")

979/979 - 2s - loss: 1.3678 - accuracy: 0.6153 - 2s/epoch - 2ms/step

Test loss : 136.7849588394165 %
Test accuracy : 61.52593493461609 %

In [57]:
print(x_test.shape)
#x_test[6]
#model.predict(x_test[6])

(31312, 49)

In [58]:
# prediction
import numpy as np
print(np.argmax(model.predict(x_test[6].reshape(1,49))))
print(int(Ny_test[6]))
#print(y_test[6].idxmax(axis=1)) # reversing ohe

0
0

In [59]:
# predicting 10 random rows
import random
import numpy as np

Range = len(x_test)
for i in random.sample(range(0, Range), 10):
  print("Predicted Label :",np.argmax(model.predict(x_test[i].reshape(1,49))))
  print("Actual Label :",int(Ny_test[i]))
  print("################")

Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 1
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 1
################
Predicted Label : 0
Actual Label : 1
################
Predicted Label : 0
Actual Label : 0
################

Hyperperameter Tunning

In [60]:
def fun(epochs,batch_size,lr,opt):
  from tensorflow.keras import layers, Model, Input, optimizers

  Shape = x_train.shape[1:]
  #print(Shape)

  input_tensor = Input(shape=Shape)
  x = layers.Dense(1024, activation="relu")(input_tensor)
  #y = layers.Dropout(0.001)(x)
  z = layers.Dense(512, activation="relu")(x)#(y)
  output_tensor = layers.Dense(2, activation='softmax')(z)

  model = Model(input_tensor,output_tensor)

  #optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl
  #loss = #'binary_crossentropy,"categorical_crossentropy",'sparse_categorical_crossentropy'

  opt = opt
  model.compile(optimizer=opt,
                loss="binary_crossentropy", 
                metrics=["accuracy"])

  #model.summary()
  history = model.fit(x_train, y_train, epochs=epochs,
                      batch_size=batch_size, validation_split=0.1)

  # evaluation
  evaluation = model.evaluate(x_test,  y_test, verbose=2)
  print()
  print("Test loss :",evaluation[0]*100,"%")
  print("Test accuracy :",evaluation[1]*100,"%")
  print()
  # prediction
  #import numpy as np
  #print(np.argmax(model.predict(x_test[6].reshape(1,49))))
  #print(int(Ny_test[6]))
  #print(y_test[6].idxmax(axis=1)) # reversing ohe
  ##########
  # predicting 10 random rows
  import random
  import numpy as np

  Range = len(x_test)
  for i in random.sample(range(0, Range), 10):
    print("Predicted Label :",np.argmax(model.predict(x_test[i].reshape(1,49))))
    print("Actual Label :",int(Ny_test[i]))
    print("################")

In [61]:
epochs = 6
batch_size = 256
lr = 0.01
opt = optimizers.Adam(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

fun(epochs,batch_size,lr,opt)

Epoch 1/6
257/257 [==============================] - 1s 4ms/step - loss: 773.0560 - accuracy: 0.6938 - val_loss: 0.4845 - val_accuracy: 0.7855
Epoch 2/6
257/257 [==============================] - 1s 4ms/step - loss: 0.4476 - accuracy: 0.8118 - val_loss: 0.4023 - val_accuracy: 0.8311
Epoch 3/6
257/257 [==============================] - 1s 4ms/step - loss: 0.4096 - accuracy: 0.8361 - val_loss: 0.4476 - val_accuracy: 0.8362
Epoch 4/6
257/257 [==============================] - 1s 4ms/step - loss: 0.3919 - accuracy: 0.8378 - val_loss: 0.3917 - val_accuracy: 0.8318
Epoch 5/6
257/257 [==============================] - 1s 4ms/step - loss: 0.3871 - accuracy: 0.8369 - val_loss: 0.3887 - val_accuracy: 0.8326
Epoch 6/6
257/257 [==============================] - 1s 4ms/step - loss: 0.3821 - accuracy: 0.8389 - val_loss: 0.3841 - val_accuracy: 0.8349
979/979 - 2s - loss: 0.8727 - accuracy: 0.8405 - 2s/epoch - 2ms/step

Test loss : 87.27043867111206 %
Test accuracy : 84.04765129089355 %

Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 0
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 0
Actual Label : 1
################

In [62]:
########## done ##############

In [63]:
epochs = 10
batch_size = 256
lr = 0.01
opt = optimizers.SGD(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

#fun(epochs,batch_size,lr,opt)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/gradient_descent.py:102: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(SGD, self).__init__(name, **kwargs)

In [64]:
epochs = 10
batch_size = 256
lr = 0.01
opt = optimizers.RMSprop(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

#fun(epochs,batch_size,lr,opt)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/rmsprop.py:130: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(RMSprop, self).__init__(name, **kwargs)

In [65]:
epochs = 10
batch_size = 256
lr = 0.01
opt = optimizers.Adadelta(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

#fun(epochs,batch_size,lr,opt)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adadelta.py:74: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adadelta, self).__init__(name, **kwargs)

In [66]:
epochs = 10
batch_size = 256
lr = 0.01
opt = optimizers.Adagrad(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

#fun(epochs,batch_size,lr,opt)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adagrad.py:74: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adagrad, self).__init__(name, **kwargs)

In [67]:
epochs = 10
batch_size = 256
lr = 0.01
opt = optimizers.Adamax(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

#fun(epochs,batch_size,lr,opt)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adamax.py:90: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adamax, self).__init__(name, **kwargs)

In [68]:
epochs = 10
batch_size = 256
lr = 0.01
opt = optimizers.Ftrl(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

#fun(epochs,batch_size,lr,opt)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/ftrl.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Ftrl, self).__init__(name, **kwargs)

In [69]:
epochs = 10
batch_size = 256
lr = 0.01
opt = optimizers.Nadam(lr=lr)
#optimizer = #SGD #RMSprop #Adam #Adadelta #Adagrad ##Adamax ###Nadam #Ftrl

fun(epochs,batch_size,lr,opt)

Epoch 1/10

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/nadam.py:73: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Nadam, self).__init__(name, **kwargs)

257/257 [==============================] - 2s 5ms/step - loss: 772.0894 - accuracy: 0.8526 - val_loss: 1.3419 - val_accuracy: 0.8998
Epoch 2/10
257/257 [==============================] - 1s 5ms/step - loss: 1.3700 - accuracy: 0.9053 - val_loss: 0.4052 - val_accuracy: 0.9135
Epoch 3/10
257/257 [==============================] - 1s 5ms/step - loss: 0.3856 - accuracy: 0.9186 - val_loss: 0.3550 - val_accuracy: 0.9120
Epoch 4/10
257/257 [==============================] - 1s 4ms/step - loss: 0.2275 - accuracy: 0.9284 - val_loss: 0.2058 - val_accuracy: 0.9236
Epoch 5/10
257/257 [==============================] - 1s 5ms/step - loss: 0.2791 - accuracy: 0.9204 - val_loss: 0.2333 - val_accuracy: 0.9077
Epoch 6/10
257/257 [==============================] - 1s 4ms/step - loss: 0.1973 - accuracy: 0.9239 - val_loss: 0.1675 - val_accuracy: 0.9266
Epoch 7/10
257/257 [==============================] - 1s 4ms/step - loss: 0.1605 - accuracy: 0.9344 - val_loss: 0.1553 - val_accuracy: 0.9320
Epoch 8/10
257/257 [==============================] - 1s 4ms/step - loss: 0.1467 - accuracy: 0.9386 - val_loss: 0.1489 - val_accuracy: 0.9383
Epoch 9/10
257/257 [==============================] - 1s 4ms/step - loss: 0.1404 - accuracy: 0.9417 - val_loss: 0.1473 - val_accuracy: 0.9425
Epoch 10/10
257/257 [==============================] - 1s 4ms/step - loss: 0.1407 - accuracy: 0.9433 - val_loss: 0.1546 - val_accuracy: 0.9325
979/979 - 2s - loss: 0.1915 - accuracy: 0.9360 - 2s/epoch - 2ms/step

Test loss : 19.15292590856552 %
Test accuracy : 93.59989762306213 %

Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 0
Actual Label : 0
################
Predicted Label : 1
Actual Label : 1
################
Predicted Label : 0
Actual Label : 0
################

In [70]:
#############################